footer {
    height: 685px;
    position:static;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, var(--black) 0%, var(--primaryColor));
    color: var(--white);
    display: flex;
    bottom: 0;
    height: 350px;
    width: 100%;
    align-items: flex-end;
}

.footer-list-container {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.footer-list {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-list ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-message {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 30%;
    padding: 15px;
    margin-left: 30px;
}

.footer-message h3 {
    margin-left: 45px;
    height: fit-content;
    text-align: center;
}

.footer-networks {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.network-logo {
    background-blend-mode: exclusion;
}

@media (max-width: 800px) {

    footer{
        display: none;
    }

    .footer-message h3{
        display: none;
    }
}