
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--secondaryColor);
    color: var(--secondaryColor);
    padding: 10px 20px;
}

.navbar .logo-container{
    display: flex;
    flex-wrap: nowrap;
}

.navbar-logo img{
    display: flex;
    align-items: center;
    height: 30px;    
}

.navbar-logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.navbar-search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#767279;
    border-radius: 40px;
    max-width:360px;
}

.navbar-search input::placeholder{
    color:var(--secondaryColorLight2);
}

.search-button {
    background-color:transparent transparent;
    border: none;
    border-radius: 5px;
    padding: 7px 12px;
    cursor: pointer;
    opacity: .7;
}

.navbar-search input {
    all: unset;
    padding: 0px 8px;
    width: 100%;
    word-wrap: break-word;
    font-size: 16px;
}

.navbar-search input:focus {
    color: var(--secondaryColor);
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.cart-button {
    background-color: transparent;
    color: var(--white);
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
    border: 00;
}

.profile-button {
    background-color: transparent;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 100%;
    border-color: var(--white);
}

.hamburger-button {
    background-color:  var(--secondaryColorDark1);
    border-radius: 6px;
    border: none;
    font-size: 24px;
    color: var(--white);
    margin-right: 10px;
    cursor: pointer;
}

.hamburger-button:hover{
    transform: matrix(1.05,tan(0),tan(3),1.05,0,0);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    height: 700px;
    overflow: auto;
    width: 200px;
    display: none;
    position: absolute;
    background-color: var(--secondaryColorDark1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border-radius: 4px;
}

.dropdown-content::-webkit-scrollbar {
    width: 12px; 
}

.dropdown-content::-webkit-scrollbar-thumb {
    opacity: 0.9;
    background-color: var(--primaryColorDark2);
    border-radius: 6px;
}

.dropdown-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.dropdown-content .option {
color: var(--white);
padding: 12px 16px;
text-decoration: none;
display: flex;
}

.dropdown-content .option p {
    padding-left: 10px;
    }

.dropdown-content .option:hover {background-color: var(--primaryColor)}

.show {display:block;}

.dropdown .menu-options-section {
    border-bottom: solid 1px var(--secondaryColor);
}

#breadcrumbs {
    background-color: transparent;
    padding: 0 24px;
    display: inline-flex;
    margin-top: 5px;
}

#breadcrumbs li {
    display: inline-flex;
    margin-right: 10px;
}

#breadcrumbs li::after{
    color: #007bff;
    margin-left: 10px;
    content: "/";
}

#breadcrumbs :last-child::after {
    content: none;
}

#breadcrumbs a {
    text-decoration: none;
    color: #007bff;
}

#breadcrumbs a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {

    .navbar-search {
        display: none;
    }

}